<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/client/css/adminReg.css">
    <title>Čichalov 2022 | Admin</title>

    <script src="https://kit.fontawesome.com/9e581aa109.js" crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
   <div id="as"></div>
</body>

<script>
       var socket = io();

       var as = document.getElementById("as");

       socket.on('scene', function(data){
            switch(data){
                case "lobby":
                    document.location.href = "/adminPanel/adminLobby";
                    break;
            }
       }); 
</script>
</html>