$main-color: #0389E0;
$disable: #004370;
$disable-icon: rgb(168, 168, 168);

body{padding: 0; margin: 0; left: 0; top: 0; background: rgb(0, 0, 0); color: #fff;}

.stats{display: flex; flex-direction: column; justify-content: center;
    .matchesTable{width: 100%; display: flex; justify-content: center; align-items: center;
        table {display: block;overflow-x: auto;white-space: nowrap; margin: 15px;}
        table, td, tr{font-size: 30px; border: 1px solid #fff; border-collapse: collapse;}
        td{padding: 10px; width: 100px;}
        .clean{background:rgb(168, 168, 168); border: 2px solid #fff;}
    }
    .teamsScore{width: 100%; display: flex; justify-content: center; text-align: center;
        #list{display: flex; flex-wrap: wrap; justify-content: center;
            .team{display: flex; flex-direction: column; margin: 20px;}
        }
    }
}
.nextMatch{width: 100%; display: flex; flex-direction:column; justify-content: center; margin-bottom: 75px; align-items: center;
    .next{display: none;
        .match-stats{display: flex; flex-direction: row;font-size: 16px; justify-content: center;
            #first-team{margin-right: 30px; width: 100px; text-align: center;}
            #score{color: $main-color; font-size: 20px;}
            #second-team{margin-left: 30px; width: 100px; text-align: center;}
        }
        .regulate-match{width: 100%; display: flex; justify-content: center;
            .start-button{color: #fff; background: $main-color; padding: 15px; font-size: 16px; border: 1px solid #fff; border-radius: 20px; cursor: pointer;}
        }
        .number{display: flex; justify-content: center;}
    }
    .next.active{display: block;}

    .startedMatch{display: none;
        .match-stats{display: flex; 
            #first-team-now{margin-right: 30px; width: 100px; text-align: center;}
            .scoreGame{color: $main-color; font-size: 20px;}
            #second-team-now{margin-left: 30px; width: 100px; text-align: center;}
            .team-regulate{
                    .regulate-buttons{display: flex; justify-content: center;
                }

            }
        }
    }
    .startedMatch.active{display: block;}
}